ul {
  list-style-type: none;
}

body {
  background-color: #eee;
}

.search {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
  margin-right: 10px;
  border: 1px solid black;
}

.searchButton {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.green-box {
  background-color: #3CB371;
  color: #fff;
  margin: 10px;
  padding: 80px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 120px;
}

/* Navbar */
nav {
  background: #01080a;
  box-shadow: 3px 0px 2px #c95858;
  color: aliceblue;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 40px;
}

.links a {
  font-size: 1.4rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  color: antiquewhite;
}

.links a:hover {
  background: rebeccapurple;
  color: wheat;
  padding-left: 1.5rem;
}

.nav-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header {
  padding: 0;
}

.links {
  height: auto;
  display: flex;
}

.links a {
  padding: 0;
  margin: 0 0.5rem;
  color: antiquewhite;
}

.links a:hover {
  padding: 0;
  background: transparent;
  transform: rotate(10deg);
  color: #493b2a;
}

h2 a{
  color: white;
}
h2 a:hover {
  color: wheat;
  text-decoration: none;
}